<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE timo:server>
<timo:server xmlns:timo="http://timo.liu.fm/">
    <system>
        <property name="serverPort">8066</property> <!-- 服务端口 -->
        <property name="managerPort">9066</property> <!-- 管理端口 -->
        <property name="timerExecutor">2</property> <!-- 定时器线程数 -->
        <property name="processors">4</property> <!-- 处理器数 -->
        <property name="processorExecutor">8</property> <!-- 各处理器线程数 -->
        <property name="url">jdbc:mysql://127.0.0.1:3306/timo_config</property> <!-- 配置库连接信息 -->
        <property name="username">test</property> <!-- 配置库用户名 -->
        <property name="password">test</property> <!-- 配置库密码 -->
        <property name="heartbeatPeriod">3000</property> <!-- 心跳检测周期（ms） -->
        <property name="heartbeatTimeout">300</property> <!-- 心跳超时时间 （ms）-->
        <property name="queryTimeout">5</property> <!-- 查询超时时间（s） -->
    </system>
</timo:server>